@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(../fonts/open-sans.woff2) format('woff2');
}

.font-open-sans {
    font-family: 'Open Sans';
}

