@keyframes spin {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

@mixin loading-indicator($spinner-size) {
    &:after {
        content: "";
        width: $spinner-size;
        height: $spinner-size;
        border: 3px solid transparent;
        border-left-color: #999;
        border-radius: 100%;
        animation: spin 1s linear infinite;
    }
}

@mixin noselect {
    user-select: none;
    -moz-user-select: -moz-none;
}

@mixin triangle($size) {
    width: 0;
    height: 0;
    border: solid transparent;
    border-width: $size ($size * 1.5);
    top: 50%;
    left: 50%;
    margin-left: -($size * 0.75);
    margin-top: -$size;
}
@mixin triangle-right($size) {
    @include triangle($size);
    border-left-color: $color-button-fg;
}

@mixin triangle-left($size) {
    @include triangle($size);
    border-right-color: $color-button-fg;
}

@mixin status-icon-pause($width: 16px, $height: 10px) {
    position: relative;

    $section-width: $width * 1 / 4;

    &::before, &::after {
        content: "";
        width: 0;
        height: $height;
        position: absolute;
        border-left: $section-width solid $color-ultra-dark;
    }
    &::before {
        left: $width * 1 / 5;
    }
    &::after {
        left: $width * (1 / 5 + 1 / 4 + 1 / 10);
    }
}
@mixin status-icon-play($width: 10px) {
    position: relative;
    
    &::before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border: solid transparent;
        border-width: ($width * 0.6) $width;
        border-left-color: $color-very-dark;
    }
}

@mixin zebra-list-row {
    background-color: $bg-list-zebra-1;
    &:nth-child(2n) {
        background-color: $bg-list-zebra-2;
    }
}

@mixin zebra-selectable-list-row {
    height: $list-row-height;
    line-height: $list-row-height;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: $color-list;
    border-bottom: 1px solid $border-color-list;
    
    @include zebra-list-row;

    &.current {
        background-color: $bg-list-current;
        color: $color-list;

        &:not(.paused) {
            .status {
                @include status-icon-play;
            }
        }

        &.paused {
            .status {
                @include status-icon-pause;
            }
        }
    }

    &.selected {
        background-color: $bg-list-selected;
        color: $color-list-selected;
    }
}

@mixin song-list-row {
    span {
        flex-basis: 0;
        padding-left: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &:not(:last-child) {
            border-right: 1px solid $border-color-list;
        }
    }

    .status {
        flex-grow: 0;
        flex-basis: 12px;
    }
    .track {
        flex-grow: 0;
        flex-basis: 30px;
    }
    .title {
        flex-grow: 6;
    }
    .duration {
        flex-grow: 1;
        padding-right: 10px;
    }
    .artist {
        flex-grow: 4;
    }
    .album {
        flex-grow: 4;
    }

}

@mixin song-item-brief {
    .info {
        display: flex;
        flex-grow: 1;
        flex-flow: row;
        flex-wrap: wrap;
        overflow: hidden;
        line-height: 1.75em;
        
        .title, .artist, .album {
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .title {
            padding-top: 0.2em;
            width: 100%;
            white-space: nowrap;
        }
        .artist, .album {
            padding-bottom: 0.4em;
            font-size: 0.9em;
            line-height: 1.2em;
            font-style: italic;
            color: $color-ultra-dark;
        }
        .artist {
            &::after {
                content: '\00a0/\00a0';
            }
        }
        .album {
            padding-right: 0.4em;
        }
    }
}

