// colours
$color-black: rgb(0, 0, 0);
$color-ultra-dark: rgb(17, 17, 17);
$color-very-dark: rgb(34, 34, 34);
$color-dark: rgb(51, 51, 51);
$color-slightly-dark: rgb(68, 68, 68);
$color-medium-ultra-dark: rgb(85, 85, 85);
$color-medium-very-dark: rgb(102, 102, 102);
$color-medium-dark: rgb(119, 119, 119);
$color-medium: rgb(136, 136, 136);
$color-medium-light: rgb(153, 153, 153);
$color-medium-very-light: rgb(170, 170, 170);
$color-medium-ultra-light: rgb(187, 187, 187);
$color-light: rgb(204, 204, 204);
$color-very-light: rgb(221, 221, 221);
$color-ultra-light: rgb(238, 238, 238);
$color-white: rgb(255, 255, 255);

$color-shadow-1: rgba(0, 0, 0, 0.1);
$color-shadow-3: rgba(0, 0, 0, 0.3);
$color-shadow-4: rgba(0, 0, 0, 0.4);
$color-shadow-5: rgba(0, 0, 0, 0.5);
$color-shadow-7: rgba(0, 0, 0, 0.7);
$color-shadow-9: rgba(0, 0, 0, 0.9);

$color-light-zebra-current: rgb(254, 255, 192);
$color-light-zebra-1: rgb(249, 249, 249);
$color-light-zebra-2: rgb(239, 239, 239);
$color-light-selected: rgb(0, 153, 238);
$color-light-text-selected: $color-white;

$color-zebra-current: $color-light-zebra-current;
$color-zebra-1: $color-light-zebra-1;
$color-zebra-2: $color-light-zebra-2;
$color-selected: $color-light-selected;
$color-text-selected: $color-light-text-selected;

$border-color-list: $color-light;
$bg-list-current: $color-zebra-current;
$bg-list-selected: $color-selected;
$bg-list-zebra-1: $color-zebra-1;
$bg-list-zebra-2: $color-zebra-2;
$color-list: $color-black;
$color-list-selected: $color-text-selected;

$bg-menu: $color-white;

$border-color-head: $color-medium-ultra-dark;
$bg-head: $color-medium-very-dark;
$bg-head-selected: rgb(86, 86, 86);
$color-head: $color-white;
$color-head-arrow: $color-dark;

$color-button-bg: rgb(245, 245, 220);
$color-button-active-bg: rgb(222, 222, 195);
$color-button-fg: $color-very-dark;

// sizes
$filter-height: 240px;
$list-row-height: 24px;
$controls-height: 58px;
$context-menu-width: 200px;

// calculations (no need to modify after here)
$button-size-large: $controls-height * 0.75;
$button-size-small: $controls-height * 9 / 16;

$play-icon-size: $button-size-large * 0.25;
$small-icon-size: $button-size-small * 2 / 9;
    
$small-space-before-after: $button-size-small * 0.25;


