.edit-info-outer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 200;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    &.hidden {
        z-index: -1;

        .edit-info {
            opacity: 0;
        }
    }

    .edit-info {
        position: relative;
        width: 90%;
        height: 90%;
        max-width: 500px;
        max-height: 400px;
        background: $color-trans-9;
        box-shadow: 0 6px 13px $color-shadow-1;
        border: 1px solid $color-very-light;
        border-bottom-color: $color-light;
        border-radius: 2px;
        opacity: 1;
        transition: 0.2s opacity ease;

        .inner {
            display: flex;
            height: 100%;
            flex-flow: column;
            justify-content: space-between;
        }
        .info-outer {
            display: flex;
            padding: 1em;
            flex: 1 0 0;

            .artwork-outer {
                display: flex;
                flex: 0 0 auto;
                height: 100%;
                align-items: center;
                justify-content: center;

                .artwork {
                    width: 128px;
                    height: 128px;
                }

                .artwork-image {
                    width: auto;
                    max-height: 100%;
                }
            }
            .info {
                display: flex;
                flex: 1 0 0;
                flex-flow: column;
                justify-content: center;
            }

            .field-outer {
                $margin: 3px;

                display: flex;
                margin: $margin 0;
                padding: 0 1em;
                align-items: center;
                padding-bottom: $margin * 2;

                .field-label {
                    padding-right: 1em;
                    flex: 1 0 0;
                    text-align: right;
                    font-weight: bold;
                    &::after {
                        content: ':';
                    }
                }
                .field-input-outer {
                    flex: 3 0 0;

                    input {
                        width: 100%;
                        line-height: 32px;
                        padding: 0 0.3em;
                        border: 1px solid $color-very-light;
                        border-radius: 2px;
                    }
                }
            }
        }
        .buttons {
            padding: 1em;
            flex: 0 0 32px;
            display: flex;
            justify-content: flex-end;

            .button-previous, .button-next, .button-cancel {
                @include round-button(
                    $color-ultra-light, $color-dark, $color-very-light, $color-dark, $color-medium-dark
                );
            }

            .button-ok {
                @include round-button(
                    $color-selected, $color-white, $color-light-selected-active, $color-white, $color-very-light
                );
            }
        }
    }
}

