body {
    margin: 0;
    font-family: 'Open Sans', cursive, arial, helvetica, sans-serif;
    font-weight: 400;
    font-size: 11pt;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nmusic-app-outer {
    display: flex;
    flex-flow: row;

    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.nmusic-body {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    overflow: hidden;
    height: 100%;
}

