body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
}

.nmusic-app-outer {
    display: flex;
    flex-flow: row;

    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.nmusic-body {
    display: flex;
    flex-flow: column;
    overflow: hidden;
}

