.audio-player-outer {
    display: flex;
    flex-flow: row;

    .audio-player-controls-outer {
        display: flex;
        flex-flow: row;
        flex-grow: 1;
    }

    .button-playpause {
        width: 48px;
        height: 48px;
        margin: 10px;
        position: relative;
        background: beige;
        border: none;
        border-radius: 100%;
        outline: none;

        &:active {
            background: #dedec3;
        }

        @mixin playpause-icon {
            display: block;
            content: "";
            position: absolute;
        }

        &.playing {
            &:before, &:after {
                @include playpause-icon;
                background: #222;
                width: 9px;
                height: 24px;
                top: 12px;
            }
            &:before {
                left: 13px;
            }
            &:after {
                right: 13px;
            }
        }

        &.paused {
            &:before {
                @include playpause-icon;
                width: 0;
                height: 0;
                border: solid transparent;
                border-left-color: #222;
                border-width: 12px 18px;
                top: 50%;
                left: 50%;
                margin-left: -9px;
                margin-top: -12px;
            }
        }
    }

    .audio-player-scrubber-outer {
        display: flex;
        flex-flow: column;
        flex-grow: 3;
    }

    .visualiser {
        display: flex;
        align-items: flex-end;
        flex-grow: 1;

        background-image: linear-gradient(to bottom, #eee 1px, transparent 1px), linear-gradient(to right, #eee 1px, transparent 1px);

        background-size: 5px 5px;

        .bar {
            position: relative;
            flex-grow: 1;
            background: #bd6013;
            margin-right: 1px;
            transition: height 0.1s ease-out;

            &:before {
                display: block;
                content: "";
                width: 100%;
                height: 2px;
                position: absolute;
                top: -1px;
                background: #f16400;
            }
        }
    }

    .audio-scrubber {
        flex-basis: 22px;

        .trough {
            height: 100%;
        }
        .progress {
            height: 100%;
            background: #eee;
            position: relative;
        }
        .play-head {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            width: 0;
            height: 100%;
            border-right: 1px solid black;
            &:before {
                content: "";
                display: block;
                width: 0;
                height: 0;
                margin-left: -5px;
                border: solid transparent;
                border-width: 8px 6px;
                border-top-color: black;
            }
        }
    }
}

