.sortable-list-outer {
    .drag-item {
        position: absolute;
        left: 0;
        top: 0;
        border: 1px solid $color-primary;
    }
    .dragging {
        text-indent: -9999px;
    }
}

