.artwork-outer {
    margin-top: auto;
    flex: 0 0 $sidebar-width;
    justify-self: flex-end;
    position: relative;
    overflow: hidden;

    .artwork {
        display: flex;
        align-items: flex-end;
        justify-content: center;
    
        &.loading {
            height: 100%;
            align-items: center;

            .artwork-image {
                opacity: 0;
            }

            @include loading-indicator(30%);
            &:after {
                position: absolute;
            }
        }
    }
    .artwork-image {
        max-width: $sidebar-width;
        max-height: $sidebar-width;
        
        opacity: 1;
        transition: opacity 0.15s ease-in-out;
    }

}

