.play-queue-outer {
    flex: 1 1 0;
    overflow: auto;

    .play-queue-title {
    }

    .play-queue {
    }
    .play-queue-song {
        display: flex;
        flex-flow: row;
        align-items: center;
        @include noselect;
        @include zebra-list-row;
        @include song-item-brief;
        
        &.active:not(.dragging) {
            background-color: $bg-list-current;
        }

        .list-key {
            flex-basis: 2em;
            flex-grow: 0;
            flex-shrink: 0;
            text-align: center;
        }
    }
}
