.audio-player-outer {
    display: flex;
    flex: 0 0 auto;
}

.audio-player-controls-outer {
    display: flex;
    flex-flow: column;

    position: relative;
}

.audio-player-controls-buttons {
    display: flex;
    flex-grow: 0;
    
    .button {
        border: none;
        border-radius: 100%;
        outline: none;
        background: $color-button-bg;
        position: relative;
        
        &:active {
            background: $color-button-active-bg;
        }

        &:before, &:after {
            content: "";
            position: absolute;
            display: block;
        }
    }

    .button-playpause {
        width: $button-size-large;
        height: $button-size-large;
        margin: (($controls-height - $button-size-large) / 2) ($button-size-large / 10);

        &.playing {
            &:before, &:after {
                background: $color-button-fg;
                width: $play-icon-size * 0.75;
                height: $play-icon-size * 2;
                top: $play-icon-size;
            }
            
            $margin: ($button-size-large - $play-icon-size * 1.875) / 2;
            
            &:before {
                left: $margin;
            }
            &:after {
                right: $margin;
            }
        }

        &.paused {
            &:before {
                @include triangle-right($play-icon-size);
            }
        }
    }

    $margin-top-small: ($controls-height - $button-size-small) / 2;
    $margin-without: $button-size-large / 5;
    $margin-within: $button-size-large / 10;
    
    $next-left-icon-margin: $small-space-before-after - $button-size-small / 2;
    $next-right-icon-margin: $button-size-small / 2 - $small-space-before-after - $small-icon-size;
    
    .button-next, .button-previous {
        width: $button-size-small;
        height: $button-size-small;
        margin: $margin-top-small 0;
    }

    .button-next {
        margin-left: $margin-within;
        margin-right: $margin-without;
        &:before, &:after {
            @include triangle-right($small-icon-size);
        }
        &:before {
            margin-left: $next-left-icon-margin;
        }
        &:after {
            margin-left: $next-right-icon-margin;
        }
    }
    
    .button-previous {
        margin-left: $margin-without;
        margin-right: $margin-within;
        &:before, &:after {
            @include triangle-left($small-icon-size);
        }
        &:before {
            margin-left: $next-left-icon-margin - $small-icon-size * 2;
        }
        &:after {
            margin-left: $next-right-icon-margin - $small-icon-size * 2;
        }
    }    
}

