$color_progress: rgba(200, 200, 200, 0.4);
$color_playhead: #111;

$progress_height_outer: 22px;
$progress_height: 8px;

.audio-scrubber {
    flex-basis: $progress_height_outer;
    z-index: 2;

    .trough {
        height: $progress_height;
        padding-top: $progress_height_outer - $progress_height;
    }
    .progress {
        height: 100%;
        background: $color_progress;
        position: relative;
    }
    .play-head {
        &:before {
            display: block;
            content: "";
            width: 0;
            height: 0;
            position: absolute;
            bottom: 0;
            right: -($progress_height / 2);
            border: solid transparent;
            border-width: $progress_height ($progress_height * 5 / 8);
            border-bottom-color: $color_playhead;
        }
    }
}

